.confirmationpage h5 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}

.confirmationpage p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}