.menuselect select {
    width: 155px;
    height: 30px;

    background: #B1464A;

    border-radius: 100px;
    color: #FFF0DE;
    text-align: center;
}

.menuselect select:focus {
    outline: none;
    border-color: transparent;
    box-shadow: none;
}

.menuselect select {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
}